<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>ACCes</title>

        <!-- Bootstrap Core CSS -->
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Theme CSS -->
        <link href="../css/acces.css" rel="stylesheet"/>

        <!-- Custom Fonts -->
        <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="../vendor/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet"  type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body id="page-top" class="index">

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <div class="navbar-right header-text">ACCes</div>
                    <a href="#" class="navbar-brand logo" style="margin-left: -40px;"><img src="../img/dnp_logo.png"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="index">Inicio</a>
                        </li>
                        <li class="page-scroll">
                            <a href="datos">Datos</a>
                        </li>
                        <li class="page-scroll active">
                            <a href="calcular">Calcular</a>
                        </li>
                        <li class="page-scroll">
                            <a href="ayuda">Ayuda</a>
                        </li>
                        <li class="page-scroll">
                            <form action="#" th:action="@{/logout}" method="post">
                                <a class="botonlogout" href="#" onclick="this.parentNode.submit()">Cerrar sesión</a>
                            </form>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <section class="Datos">
            <div class="container">
                <div class ="row text-center">
                    <div class ="col-sm-12">
                        <h2>Utilice estos números guias para navegar atrás y adelante en el ingreso de insumos</h2>
                    </div>
                </div>
                <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                        <div class="stepwizard-step">
                            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                            <p>Insumos Q parte 1</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-2" type="button" class="btn btn-primary btn-circle" disabled="disabled">2</a>
                            <p>Insumos Q parte 2</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-3" type="button" class="btn btn-primary btn-circle" disabled="disabled">3</a>
                            <p>Insumos P parte 1</p>
                        </div>
                        <div class="stepwizard-step">
                            <a href="#step-4" type="button" class="btn btn-primary btn-circle" disabled="disabled">4</a>
                            <p>Insumos P parte 2</p>
                        </div>
                    </div>
                </div>

                <form role="form" action="setParamCai" method="post">
                    <div class="row setup-content" id="step-1">
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                <h2 class="insumo-titulo">Porcentaje de hogares que utilizan combustibles sólidos.</h2>
                                <div class="form-group">
                                    <label class="control-label">Region Caribe</label>
                                    <input type="text" name="Cs1" pattern="[0-9]+([\\,][0-9]+)?"
                                          required="required" class="form-control" placeholder="Digite el valor" value="20,2"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Oriental</label>
                                    <input type="text" name="Cs2" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="17,7"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Bogotá</label>
                                    <input type="text" name="Cs3" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="0"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Central</label>
                                    <input type="text" name="Cs4" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="12,3"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Pacífica</label>
                                    <input type="text" name="Cs5" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="16,4"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Orinoquía y Amazonía</label>
                                    <input  type="text" name="Cs6" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="15,5"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h2 class="insumo-titulo">Prevalencia de IRA en menores de cinco años</h2>
                                <div class="form-group">
                                    <label class="control-label">Region Caribe</label>
                                    <input type="text" name="PrevIra1" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="12,6"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Oriental</label>
                                    <input type="text" name="PrevIra2" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="7,0"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Bogotá</label>
                                    <input type="text" name="PrevIra3" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="5,0"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Central</label>
                                    <input type="text" name="PrevIra4" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="10,3"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Pacífica</label>
                                    <input type="text" name="PrevIra5" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="9,5"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Orinoquía y Amazonía</label>
                                    <input type="text" name="PrevIra6" pattern="[0-9]+([\\,][0-9]+)?"
                                            required="required" class="form-control" placeholder="Digite el valor" value="7,4"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class ="row">
                                <div class ="col-sm-4 col-sm-offset-4">
                                    <button class="btn btn-primary btn-block nextBtn btn-lg" type="button" >Siguiente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-2">
                        <h3></h3>
                        <div class="col-xs-12">
                            <div class="col-sm-4 col-sm-offset-1">
                                <div class="form-group">
                                    <label class="control-label">Periodos recogidos</label>
                                    <input type="text" required="required" name="perRec" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="3"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Relación de incidencia de casos anuales por IRA niño/adulto..</label>
                                    <input type="text" required="required" name="Rips" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="0,16666666"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Relación de casos llevados a los centros médicos niños/adultos.</label>
                                    <input  type="text" required="required" name="Rmed" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="1,11111111"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Incidencia de EPOC en adultos </label>
                                    <input type="text" required="required" name="IEpoc" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="256"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Riesgo relativo - EPOC </label>
                                    <input type="text" required="required" name="RRepoc" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="2,8"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Riesgo relativo - Isquémicas </label>
                                    <input type="text" required="required" name="RRIsquem" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="1,19"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Riesgo relativo - Cerebrovascular </label>
                                    <input type="text" required="required" name="RRCerebrovascular" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="1,26"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Riesgo relativo - Hipertensivas</label>
                                    <input type="text" required="required" name="RRHiper" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="1,51"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-1">
                                <div class="form-group">
                                    <label class="control-label">Riesgo relativo - Cáncer de pulmón</label>
                                    <input type="text" required="required" name="RRcancer" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="1,5"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Riesgo relativo mayores de 30 años - IRA </label>
                                    <input type="text" required="required" name="RRiraMayores" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="2"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Riesgo relativo menores de 5 - IRA</label>
                                    <input type="text" required="required" name="RRiraMenores" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="2"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">AVAD para mortalidad por infecciones respiratorias agudas (IRA) </label>
                                    <input type="text" required="required" name="AVADIra1" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="34"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">AVAD para morbilidad por infecciones respiratorias agudas (IRA) </label>
                                    <input type="text" required="required" name="AVADIra2" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="165"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">AVAD por 100.000 casos de muerte por IRA para mayores de 30 </label>
                                    <input type="text" required="required" name="AVADIraMayores30" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="700"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">AVAD por caso de morbilidad por EPOC en mujeres adultas </label>
                                    <input type="text" required="required" name="AVADMorbEpoc" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="2,25"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">AVAD por caso de mortalidad por EPOC en mujeres adultas </label>
                                    <input type="text" required="required" name="AVADMortEpoc" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="6"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class ="row">
                            <div class ="col-sm-4 col-sm-offset-4">
                                <button class="btn btn-primary btn-block nextBtn btn-lg" type="button" >Siguiente</button>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-3">
                        <div class="col-xs-12">
                            <div class="col-sm-3 col-sm-offset-1">
                                <div class="row form-group">
                                    <label class="col-xs-12 control-label">Valor estadístico de la vida VEV</label>
                                    <label class="col-xs-1 text-right">$</label>
                                    <input class="col-xs-6" type="text" required="required" name="VEV" id="VEV" pattern="[0-9]+([\\,][0-9]+)?"
                                           placeholder="Digite el valor" value="1315738943"/>
                                    <label class="col-xs-3">COP</label>
                                    <a href="#modalVEV" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></a>
                                </div> 
                                <div class="row form-group">
                                    <label class="col-xs-12 control-label">Costo de la consulta médica en primer nivel de atención</label>
                                    <label class="col-xs-1 text-right">$</label>
                                    <input class="col-xs-6" type="text" required="required" name="CPrimerNivel" pattern="[0-9]+([\\,][0-9]+)?"
                                           placeholder="Digite el valor" value="25800"/>
                                    <label class="col-xs-3">COP</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-sm-offset-1">
                                <div class="row form-group">
                                    <label class="col-xs-12 control-label">Costo de hospitalización por día</label>
                                    <label class="col-xs-1 text-right">$</label>
                                    <input class="col-xs-6" type="text" required="required" name="Chosp" pattern="[0-9]+([\\,][0-9]+)?"
                                           placeholder="Digite el valor" value="244108"/>
                                    <label class="col-xs-3">COP</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-xs-12 control-label">Costo del tiempo perdido por enfermedad </label>
                                    <label class="col-xs-1 text-right">$</label>
                                    <input class="col-xs-6" type="text" required="required" name="CTiempoPerd" pattern="[0-9]+([\\,][0-9]+)?"
                                           placeholder="Digite el valor" value="12933"/>
                                    <label class="col-xs-3">COP</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-sm-offset-1">
                                <div class="row form-group">
                                    <label class="col-xs-12 control-label">Costo de consulta de urgencias</label>
                                    <label class="col-xs-1 text-right">$</label>
                                    <input class="col-xs-6" type="text" required="required" name="CUrg" pattern="[0-9]+([\\,][0-9]+)?"
                                           placeholder="Digite el valor" value="104500"/>
                                    <label class="col-xs-3">COP</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Porcentaje de casos de IRA en menores de 5 años tratados en centros médicos </label>
                                    <input type="text" required="required" name="IRAPorcentaje" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="40"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-sm-6 col-sm-offset-3">
                                <h2>Porcentaje de casos de IRA, Menores de 5 años tratados en centros médicos</h2>
                                <div class="form-group">
                                    <label class="control-label">Region Caribe</label>
                                    <input type="text" required="required" name="Ira1" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="57,0"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Oriental</label>
                                    <input type="text" required="required" name="Ira2" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="52,0"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Bogotá</label>
                                    <input type="text" required="required" name="Ira3" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="51,2"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Central</label>
                                    <input type="text" required="required" name="Ira4" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="50,6"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Pacífica</label>
                                    <input type="text" required="required" name="Ira5" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="53,4"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Region Orinoquía y Amazonía</label>
                                    <input type="text" required="required" name="Ira6" pattern="[0-9]+([\\,][0-9]+)?"
                                            class="form-control" placeholder="Digite el valor" value="52,7"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class ="row">
                            <div class ="col-sm-4 col-sm-offset-4">
                                <button class="btn btn-primary btn-block nextBtn btn-lg" type="button" >Siguiente</button>
                            </div>
                        </div>
                    </div>
                    <div class="row setup-content" id="step-4">
                        <h3></h3>
                        <div class="col-xs-12">
                            <div class="col-sm-4 col-sm-offset-1">
                                <div class="form-group">
                                    <label class="control-label">Costo promedio en pesos colombianos (COP) de una consulta médica</label>
                                    <input type="text" required="required" name="CProm" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="31500"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Costo estimado de las medicinas para el tratamiento de IRA</label>
                                    <input type="text" required="required" name="CMedicinas" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="32347,27"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Porcentaje de casos de IRA que requieren tratamiento con medicamentos</label>
                                    <input type="text" required="required" name="PorcentajeMed" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="44,5"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Duración promedio de EPOC (años)</label>
                                    <input type="text" required="required" name="DurEpoc"
                                            class="form-control" placeholder="Digite el valor" value="20"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Porcentaje de pacientes con EPOC hospitalizados anualmente</label>
                                    <input type="text" required="required" name="PacientesEpoc" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="1,5"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-offset-1">
                                <div class="form-group">
                                    <label class="control-label">Duración promedio de la hospitalización (días)</label>
                                    <input type="text" required="required" name="DurPromHosp" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="10"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Número promedio de visitas al consultorio médico por cada paciente de EPOC </label>
                                    <input type="text" required="required" name="PromVisitas" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="1"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Porcentaje de pacientes con EPOC atendidos en urgencias médicas</label>
                                    <input type="text" required="required" name="PocentajeEPOCUrg" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="15"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Días laborales perdidos (incluidos días en el hogar) por cada paciente con EPOC/año</label>
                                    <input type="text" required="required" name="DiasPerdidos" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="2,6"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Incremento real anual de los costos de los servicios de salud</label>
                                    <input type="text" required="required" name="CostosSalud" pattern="[0-9]+([\\,][0-9]+)?"
                                           class="form-control" placeholder="Digite el valor" value="5,3"/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class ="row">
                            <div class ="col-sm-4 col-sm-offset-4">
                                <button id="submitbtn" class="btn btn-success btn-block btn-lg pull-right" type="submit">Consolidar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        
        <div id="modalVEV" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridModalLabel">Calcular Valor Estadistico de la vida</h4>
                    </div>
                    
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-3 col-sm-offset-3">
                                    <label>Valor</label>
                                </div>
                                <div class="col-xs-6">
                                    <input id="valor" type="text" value="1101600000"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-offset-3">
                                    <label>Interes</label>
                                </div>
                                <div class="col-xs-6">
                                    <input id="interes" type="text" value="0,0362"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-offset-3">
                                    <label>Periodo en años</label>
                                </div>
                                <div class="col-xs-6">
                                    <input id="periodo" type="text" value="5"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button id="ActualizarVEV" type="button" data-dismiss="modal" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="text-center">
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Fuziontek S.A.S. 2016
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        <!-- jQuery -->
        <script src="../vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- File input JavaScript -->
        <script src="../vendor/bootstrap-fileinput/js/fileinput.min.js"></script>
        <script src="../vendor/bootstrap-fileinput/js/locales/es.js"></script>


        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Contact Form JavaScript -->
        <script src="../js/jqBootstrapValidation.js"></script>

        <!-- Theme JavaScript -->
        <script src="../js/acces.js"></script>
        <script src="../js/insumos.js"></script>

    </body>

</html>
